---
type Translations = typeof import('../../i18n/en').default;
type InfoContent = Translations['locations']['orlando-fl']['info'];
interface Props {
  content: InfoContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full max-w-screen xl:max-w-7xl px-5 xl:px-0 flex justify-center items-center gap-7 py-30">
  <div class="w-[43%] h-auto aspect-519/600  rounded-2xl services-detail" >
    <img src={`/images/${content.image}.webp`} alt={content.title} width="519" height="600" class="absolute w-full h-full object-cover rounded-2xl inset-0"/>
  </div>
  <div class="flex flex-col justify-center items-start gap-4 w-[57%] animation-left" >
    <div class="flex justify-center items-center gap-2">
      <div class="w-2 h-2 bg-primary"></div>
      <p class="text-paragraph text-[16px] font-normal leading-[150%] uppercase ">{content.subtitle}</p>
    </div>
    <h2 class="text-primary text-[56px] font-normal leading-[114%]">{content.title}</h2>
    <p set:html={content.description} class="text-paragraph text-[16px] font-normal leading-[150%]"></p>
  </div>
</section>
