---
type Translations = typeof import('../../i18n/en').default;
type InfoContent = Translations['locations']['orlando-fl']['info'];
interface Props {
  content: InfoContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex justify-center items-center dark:bg-back-dark">
  <div class="w-full max-w-screen xl:max-w-7xl px-5 xl:px-0 flex flex-col md:flex-row justify-center items-center gap-7 py-20 md:py-30">
    <div class="w-full md:w-[43%] h-auto aspect-343/262 md:aspect-519/600  rounded-2xl animation-zoom relative" >
      <img src={`/images/${content.image}.webp`} alt={content.title} width="519" height="600" class="absolute w-full h-full object-center object-cover rounded-2xl inset-0"/>
    </div>
    <div class="flex flex-col justify-center items-start gap-6 md:gap-4 w-full md:w-[57%] " >
      <div class="flex justify-center items-center gap-2 animation-left">
        <div class="w-2 h-2 bg-accent"></div>
        <p class="text-paragraph dark:text-paragraph-dark text-[14px] md:text-[16px] font-normal leading-[143%] md:leading-[150%] uppercase ">{content.subtitle}</p>
      </div>
      <h2 class="text-primary dark:text-paragraph-dark text-[28px] md:text-[56px] font-semibold leading-[129%] md:leading-[114%] animation-left">{content.title}</h2>
      <p set:html={content.description} class="text-paragraph dark:text-paragraph-dark text-[14px] md:text-[16px] font-normal leading-[143%] md:leading-[150%] animation-left"></p>
    </div>
  </div>
</section>
