---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/en').default;
type HeroContent = Translations['landingFirst']['callAction'];
interface Props {
  content: HeroContent;
}
const { content} = Astro.props as Props;
---
<div class="w-full bg-primary flex justify-center items-center">
  <div class="container-full py-8 flex flex-col md:flex-row justify-between items-center gap-6 md:gap-0">
    <div class="flex flex-col justify-center items-start gap-2 text-white w-auto md:w-[60%] lg:w-auto">
      <h2 class="text-[32px] font-bold leading-[106%]">{content.title}</h2>
      <p class="text-[24px] font-normal leading-[150%] hidden md:block">{content.description}</p>
    </div>
    <Button
        text={content.buttons.label}
        textClass="text-white"
        href={content.buttons.href}
        target="_blank"
        extraBtnClass={`animate-bounce-subtle bg-accent hover:bg-accent/90`}
        iconName={content.buttons.icon}
      />
  </div>
</div>