---
type Translations = typeof import('../../i18n/en').default;
type ServicesContent = Translations['landingFirst']['private'];
interface Props {
  content: ServicesContent;
}
const { content} = Astro.props as Props;
---
<section class="container-full flex flex-col justify-center items-center gap-10 md:gap-20 py-10 md:py-20" id={content.id}>
  <h2 class="text-primary font-bold leading-[114%] text-[32px] md:text-[56px]">{content.title}</h2>
  <div class="w-full flex flex-col md:flex-row justify-center items-center gap-10 md:gap-8">
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-6 w-full md:w-[48%]">
      <div class="row-span-2 relative aspect-250/525 w-full h-auto overflow-hidden rounded-2xl hidden md:block">
        <img src={`/images/${content.images[0]}.webp`} alt={content.title} class="w-full h-full object-cover absolute object-center inset-0" width="250" height="525" />
      </div>
      <div class="relative aspect-square w-full h-auto overflow-hidden rounded-2xl">
        <img src={`/images/${content.images[1]}.webp`} alt={content.title} class="w-full h-full object-cover absolute inset-0 object-center" width="250" height="250" />
      </div>
      <div class="relative aspect-square w-full h-auto overflow-hidden rounded-2xl">
        <img src={`/images/${content.images[2]}.webp`} alt={content.title} class="w-full h-full object-cover absolute inset-0 object-center" width="250" height="250" />
      </div>
    </div>
    <div class="flex flex-col justify-center items-start gap-10 w-full md:w-[52%]">
      <div class="flex flex-col justify-center items-start gap-6">
        {
          content.descriptions.map((description) => (
            <p class="text-[19px] md:text-[20px] leading-[150%] font-normal text-paragraph">{description}</p>
          ))
        }
      </div>
      <button class="animate-bounce open-popup bg-accent py-1 px-8 rounded-lg flex justify-center items-center text-white text-[20px] md:text-[26px] 3xl:text-[32px] font-bold leading-[300%] md:leading-[187%] hover:bg-primary transition-all duration-300 ease-in-out cursor-pointer self-start">
            {content.button}
          </button>
    </div>
  </div>
</section>