---
type Translations = typeof import('../../i18n/en').default;
type HeroContent = Translations['landingFirst']['solutions'];
interface Props {
  content: HeroContent;
  second:boolean
}
const { content,second } = Astro.props as Props;
const title = second ? content.title2 : content.title
---
<section class={`${second ? 'bg-white' : 'bg-[#F9F8FD]'}  w-full flex justify-center items-center`}>
  <div class="container-full flex flex-col justify-center items-center py-10 md:py-20 gap-10 md:gap-20">
    <h2 class="text-[32px] md:text-[56px] font-bold leading-[114%] text-primary text-center">{title } </h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-6 w-full">
      {
        content.items.map((item)=>( 
          <div class="w-full p-10 flex flex-col justify-center items-center md:items-start gap-6 rounded-2xl border border-[#E6E6E6] shadow-solution bg-white grow">
            <h3 class="text-[24px] md:text-[32px] text-primary font-bold leading-[173%] md:leading-[130%]">{item.title}</h3>
            <div class="flex flex-col md:flex-row justify-center md:justify-start items-center gap-4 md:gap-6 w-full">
              <div class="relative aspect-225/299 w-[50%] h-auto overflow-hidden">
                <img src={`/images/${item.image}.webp`} alt={item.title} width="225" height="229" class="absolute w-full h-full object-cover inset-0 object-center">
              </div>
              <div class="flex flex-col justify-center items-start gap-6">
                <p class="text-primary text-[24px] font-bold tracking-[0.24px] leading-[200%]">{item.concept}</p>
                <ul class="flex flex-col justify-center items-start gap-1 pl-7">
                  {
                    item.items.map((i)=>(
                      <li class="text-[18px] md:text-[20px] font-normal leading-[200%] md:leading-[180%] text-black list-disc">{i}</li> 
                    ))
                  }
                </ul>
                <p class="text-[18px] md:text-[20px] font-bold leading-[130%] md:leading-[117%] text-black">{item.description}</p>
              </div>
            </div>
            <div class="flex flex-col md:flex-row justify-center md:justify-start items-center gap-6 xl:gap-8.5 self-auto md:self-center lg:self-auto">
              <button class="bg-accent p-4 md:p-3 xl:p-4 rounded-lg flex justify-center items-center text-white text-[20px] md:text-[16px] xl:text-[20px] font-bold leading-normal hover:bg-primary transition-all duration-300 ease-in-out cursor-pointer">
                {item.button}
              </button>
              <div set:html={item.phone} class="text-[18px] md:text-[20px] leading-[130%] md:leading-[117%] font-bold flex justify-center items-center">
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>